/* For Vue transitions/animations */

/* Title Bg color has 0 opacity so not showing */
.slide-fade-enter-active {
    transition: all .3s ease;
}

.slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active below version 2.1.8 */
{
    transform: translateX(10px);
    filter: opacity(0);
}

/* For arrow */
.slide-fade-arrow-enter-active {
    transition: all .3s ease;
}

.slide-fade-arrow-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-arrow-enter, .slide-fade-arrow-leave-to
{
    transform: translateX(10px);
    opacity: 0;
}

/*  For notification */
/* Title Bg color has 0 opacity so not showing */
.slide-fade-notify-enter-active {
    transition: all .3s ease;
}

.slide-fade-notify-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-notify-enter, .slide-fade-notify-leave-to
{
    transform: translateY(10px);
    filter: opacity(0);
}

.basic-fade-enter-active, .basic-fade-leave-active {
    transition: opacity .5s;
}

.basic-fade-enter, .basic-fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}
