.hljs-string {
    color: #FF6663;
}

.hljs-keyword {
    color: hsl(198, 99%, 37%);
}

.hljs-attr {
    color:  hsl(230, 100%, 66% );
}

.hljs-tag {
    color: hsl(119, 34%, 47%);
}
.hljs-name {
    color: #FF6663;
}

.hljs-function {
    color:  hsl(119, 34%, 47%);;
}

.hljs-parans {
    color:  hsl(119, 34%, 47%);;
}

.hljs-built_in {
    color: hsl( 5, 74%, 59%);
}
